
@import "included";

$blue: #3bbfce;
$margin: 16px;

.content {
  border: 5px dotted $blue;
  color:
    darken($blue, 35%);
}


.border {
  padding: $margin / 2;
  margin: $margin / 2;
}

.invisible {
     visibility: hidden;
}
